<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>03-11</title>
  </head>
  <body>
    <div id="app">
      잔고 : <input type="text" v-model="balance" />
      <br />
      회원님의 등급 :
      <span v-if="balance >= 1000000">Gold</span>
      <span v-else-if="balance >= 500000">Silver</span>
      <span v-else-if="balance >= 200000">Bronze</span>
      <span v-else>Basic</span>
    </div>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
      var vm = Vue.createApp({
        name: "App",
        data() {
          return { balance: 0 };
        },
      }).mount("#app");
    </script>
  </body>
</html>
