<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>05-13</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.2.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <div id="app">
      <div
        class="container"
        style="position: absolute; top: 0; left: 0; bottom: 0; right: 0"
        @contextmenu.prevent
        @click.left="if (currentIndex > 0) currentIndex--;"
        @click.right="if (currentIndex < itemlist.length-1) currentIndex++;"
        @click.ctrl.left="currentIndex=0"
        @click.ctrl.right="currentIndex=itemlist.length-1"
      >
        <div>
          - 왼쪽버튼 : 위로<br />
          - 오른쪽 버튼 : 아래로<br />
          - CTRL + 왼쪽 버튼 : 처음으로<br />
          - CTRL + 오른쪽 버튼 : 마지막으로<br />
        </div>
        <hr />
        <ul class="list-group">
          <li
            class="list-group-item"
            :class="index === currentIndex ? 'active' : ''"
            v-for="(item,index) in itemlist"
            :key="item"
          >
            {{item}}
            <span v-if="index === currentIndex" className="float-right badge badge-secondary">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
      var vm = Vue.createApp({
        name: "App",
        data() {
          return {
            itemlist: ["Item1", "Item2", "Item3", "Item4", "Item5", "Item6", "Item7", "Item8", "Item9"],
            currentIndex: 0,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
